
body{
    background-color:#6E6A78;

}

.navbar-style{
    background-color: #151D19;
}

.navbar-brand{
    color: #E07C5C;
}


.mi-features{
    padding-top: 40px;
    background-color: #E07C5C;
}

.icon {
    width: 3rem;
    height: 3rem;
  }

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}



.chart-block{
    margin-top: 20px;
}
