
body{
    background-color:#23282E;
}

.button{
    color: white;
    background-color:#E07C5C;
    font-weight: 800;
}

.title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.data-info{
    font-size: 50px;
    font-weight:800;
    color: white;
}
.data-type{
    font-size: 15px;
    font-weight:400;
    color: white;
}

.section-name{
    color: white;
    font-size: 15px;
}

.section-title{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.section-icon{
    width: 80px;
    height: 80px;
}

.dropdown{
    margin-right: 80px;
}


.navbar-style{
    background-color: #151D19;
}

.navbar-brand{
    color: #E07C5C;
}


.mi-features{
    padding-top: 40px;
    background-color: #23282E;
}

.icon {
    width: 3rem;
    height: 3rem;
  }

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.block{
    background-color: #454C55;
    margin-top: 20px;
}

#device-card{
    background-color:#D88367;
    margin-top: 10px;
    height: 200px;
}
